.sidenav-container {
  height: 100vh;
}

mat-sidenav-container{
  background-color: rgb(239, 239, 239);
    mat-sidenav{
      max-width: 310px;
      margin: 10px;
      border-radius: 20px;
    }
}


@media screen and (max-width: 360px) {
   mat-sidenav{
      max-width: unset;
      margin: 0px !important;
      border-radius: 0px !important;
    }
}
