<mat-toolbar>
  <div class="flex w-full justify-between items-center overflow-scroll">

    <div class="flex items-center gap-2">
      <button (click)="onToggleClick()" matIconButton aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
  
      <app-icon-btn icon="add"/>
    </div>

    <div class="flex items-center gap-2">
      <app-theme-toggle/>
      <button  matIconButton>
        <mat-icon>help</mat-icon>
      </button>
      <app-user-menu/>
    </div>
  </div>
</mat-toolbar>
