<mat-toolbar>
  <div class="flex w-full justify-between items-center">

    <div class="flex items-center">
      <button (click)="onToggleClick()" matIconButton aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
  
      <span>My App</span>
    </div>

    <div>
      <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
